%h1 Your search for "#{@search.query}" returned #{@search.results.size} results..

%ol
  - @search.results.each do |result|
    %li.result
      %h3= link_to result.title, result.url, data: { url: result_path(result) }
      %cite= truncate_url(result.url, length: 100)
      %p= result.description.html_safe