#navigation
	= render 'form'
.results
	- if @search.nil? or @search.results.empty?
		#info
			%p Sorry, I couldn't find that!
	- else
		#info
			%p Found #{pluralize(@search.results.size, 'result')} for "#{@search.query}"...
			= modal_link 'Not what you\'re looking for?', :comment
		%ol
			- @search.results.each do |result|
				%li
					%h3= link_to result.title, result_path(result), data: { url: result.url }
					%cite= truncate_url(result.url, length: 100)
					%p= highlight(truncate(result.description, length: 300), @search.query_tokens).html_safe