#navigation
	= render 'form'
.results
	- if @search.nil? or @search.results.length == 0 # temp counter_cache fix
		#info
			%p Sorry, I couldn't find that!
	- else
		#info
			%p Found #{pluralize(@search.results.size, 'result')} for "#{@search.query}"...
			= link_to 'Not what you\'re looking for?', "/search/#{@search.id}/modals/comment_form/", class: 'modal-link'
		%ol
			- @search.results.each do |result|
				%li
					%article
						%header
							%h3
								= link_to result.title, result_path(result), data: { url: result.url }
								%time{datetime: result.time_delta} #{time_ago_in_words(result.time_delta)} ago
							%cite= truncate_url(result.url, length: 100)
						%section
							%p= highlight(truncate(result.description, length: 300), @search.query_tokens).html_safe
							- if result.has_media?
								%ul.thumbs
									- result.media_urls.each do |media_url|
										%li
											= link_to media_url, rel: "thumbs-#{result.id}" do
												= image_tag media_url