%h1 Search for &ldquo;#{params[:query]}&rdquo;...
%ul.clusters
	- @clusters.sort.reverse.each do |cluster|
		%li{:class => ('double' if cluster.has_media?)}
			%article
				- unless cluster.media_urls.empty?
					%ul.media
						- cluster.media_urls[0..1].each do |url|
							%li= image_tag url
				- unless cluster.hashtags.empty?
					%ul.tags
						- cluster.hashtags.each do |tag|
							%li= link_to ('#' + tag), "http://twitter.com/search?q=%23#{tag}&src=hash"
				%ul.tweets
					- cluster.documents.each do |tweet|
						%li
							= tweet.text
							%time #{time_ago_in_words(tweet.created_at)} ago