<form action="" method="post">
  <table cellpadding="0" cellspacing="0">
    <caption><%= @samples.size %> Samples remaining..</caption>
    <tr>
      <th>Text</th>
      <% for k in 0..@clusterer.k %>
        <th>Cluster #<%= k %></th>
      <% end %>
    </tr>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample %></td>
        <% for k in 0..@clusterer.k %>
          <td class="check"><input type="radio" name="labels[<%= sample.id %>]" value="<%= k %>" /></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <input type="hidden" name="stash" value="<%= params[:stash] %>" />
  <input type="submit" value="Classify &raquo;" />
</form>