!!!
%html
  %head
    %title Social Search
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: ('splash' if current_page?(root_path))}
    #header
      .container
        %h1#logo
          = link_to root_path do
            = responsive_image_tag 'logo.png'
        = display_flash.html_safe
    #content
      .container
        = yield
    #footer
      .container
        %p (c) Fred Kelly 2013 (updated #{time_ago_in_words(Rails.application.class::FILE_VERSION)} ago).