!!!
%html
  %head
    %title Social Search
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - unless flash[:error].nil?
      #error
        %p= flash[:error]
    = yield
    #footer
      %p
        Social Search Beta
        %code v#{Rails.application.class::VERSION[30..-1]}